@media screen and (min-width:767px) and (max-width:1039px){
		.effective{
			font-size: 25px !important;
		    line-height: 1.2 !important;
		    letter-spacing: 0px !important ;
		}
		.head{
			font-size: 16px !important;
		    line-height: 1.7 !important;
		    letter-spacing: 0px !important;
		    margin: 0px !important;
		}
		.head-desc{
			font-size: 13px !important;
		    line-height: 1.4 !important;
		    letter-spacing: 0px !important;
		}
	#myBlog{
		
		.textBlog p{
			font-size: 13px !important;
		    line-height: 1.4 !important;
		    letter-spacing: 0px !important;
		}
		
	}
	#joinSec{
		.join-img-1{
			//padding: 0px 70px !important;
			background-position: center center !importantr;
    		background-size: cover !important;
			//display: inherit !important;
		}
		.join-text-1{
			line-height: 1.8 !important;
		}
		.join-text-2{
			font-size: 25px !important;
		    line-height: 1.2 !important;
		    letter-spacing: 0px !important;
		}
		.join-text-3{
			font-size: 13px !important;
		    line-height: 1.4 !important;
		    letter-spacing: 0px !important;
		}
		.join-img-2{
			background-position: center center !important;
    		background-size: cover !important;
		}
	}
	#feedback{
		.mainFeed{
			padding-left: 10px !important;
			padding-right: 10px !important;
			padding-top: 50px !important;
			padding-bottom: 50px !important;
		}
		.feed-icon p{
			    font-size: 30px !important;
			    line-height: 1 !important;
			    letter-spacing: 0px !important;
		}
		.feed-desc{
			font-size: 13px !important;
		    line-height: 1.4 !important;
		    letter-spacing: 0px !important;
		}
		.client-name{
			padding: 0px !important;
		}
		.client-info{
			font-size: 15px !important;
		    line-height: 1.6 !important;
		    letter-spacing: 0px !important;
		}
		.client-prof{
			font-size: 10px !important;
		    line-height: 1.2 !important;
		    letter-spacing: 0px !important;
		}
	}
	#partners{
		.part-img{
			padding: 0px 10px !important;
		}
	}
}