#offers{
		background-image: url(../img/mt-0808-home-parallax.jpg);
		background-size: cover;
		background-attachment: fixed;
		min-height: 700px;
		position: relative;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	.ContentClass{
		text-align: center;
		width: 100%;
		padding-top: 35px;
	}
	.text-1{
	    text-align: center;
	    width: 100%;
	}
	.text-1-desc-1{
		margin-bottom: 0px;
		font-weight: 400;
	    font-style: normal;
	    font-family: $Menu-font;
	    color: $white-color;
	    font-size: 12px;
	    line-height: 2.6;
	    letter-spacing: 2px;
	}
	.text-1-desc-2{
		margin-bottom: 0px;
		font-weight: 500;
	    font-style: normal;
	    font-family: $Main-font;
	    color: $white-color;
	   	font-size: 36px;
	    line-height: 1.2;
	    letter-spacing: 0px;
	}
	.text-2{
		width: 100%;
		text-align: center;
		display: inline-flex;
	}
	.Line{
		border-top-width: 3px;
	    border-top-style: solid;
	    border-top-color: $Menu-Pink-Color;

	}
	.text-3{
		text-align: center;
		width: 100%;
	}
	.text-3-desc{
		font-weight: 400;
	    font-style: normal;
	    font-family:$Main-font;
	    color: $white-color;
	    font-size: 16px;
	    line-height: 2.1;
	    letter-spacing: 0px;
	}
	.salon-btn a{
		margin-top: 30px;
		display: inline-block;
	    transition: .3s;
	    border: 2px solid;
	    letter-spacing: 1.2px;
	    font-size: 14px;
	    line-height: 25px;
	    text-decoration: none;
		padding: 12px 53px;
		font-family: $Menu-font;
	    font-weight: 400;
	    font-style: normal;
	    color: $white-color;
	    background-color: #cc6b7c;
	    border-color: transparent;
	}
	.salon-btn a:hover{
		background-color: #c1a091;
	    border-color: #c1a091;
	}
	@media screen and (min-width:766px) and (max-width:1040px){
		background-attachment: initial;
		min-height: 0px;
		.ContentClass{
		text-align: center;
		width: 100%;
		padding-top: 75px;
		padding-bottom: 75px;
	}
		.text-1-desc-2{
			font-size: 30px;
			line-height: 1;
			letter-spacing: 0px;
		}
		.text-3-desc{
	    font-size: 13px;
	    line-height: 2.1;
	    letter-spacing: 0px;
	}
	}
	@media screen and (min-width:481px) and (max-width:777px){
		background-attachment: initial;
		min-height: 0px;
		.ContentClass{
		text-align: center;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
		.text-1-desc-2{
			font-size: 25px;
			line-height: 1;
			letter-spacing: 0px;
		}
		.text-3-desc{
	    font-size: 12px;
	    line-height: 1.2;
	    letter-spacing: 0px;
	}
		
	}
	@media screen and (max-width:480px){
		background-attachment: initial;
		min-height: 0px;
		.ContentClass{
		text-align: center;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
		.text-1-desc-1{
	    letter-spacing: 0px;
	}
		.text-1-desc-2{
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0px;
		}
		.text-3{
			padding: 0px 10px;
		}
		.text-3-desc{
	    font-size: 10px;
	    line-height: 1.2;
	    letter-spacing: 0px;
		}
		.text-2{
		display: inline-block;
		}
		.Line{
			width: 58%;
		}
	}

}
