#partners{
	.part-1,.part-2{
		display: flex;
		//padding: 0px 15px;
	}
	.mainPartners{
		display: flex;
		//justify-content:center;
		background: #f7f7f7;
		padding: 175px 0px;
		text-align: center; 	 
		

	}
	.part-img{
		//padding: 0px 50px;
	}
 }//<img src="img/mt-0808-home-icons03.png" alt="">