#priceTable{
	.price-list{
		border: 3px solid  #f5f0ed;
		padding-top: 40px;
		margin-bottom: 15px;
	}
	.main-price{
		margin: 100px 0px 175px 0px;
	}
	.price{
		font-weight: 300;
	    font-style: normal;
	    font-family: 'Merriweather', serif;
	    color: #292e34;
	    font-size: 35px;
	    line-height: 2;
	    letter-spacing: 0px;
	}
	.price span{
		font-size: 16px;
		color: #a79a9a;
	}
	.price-line{
		width: 70%;
	}
	.price-btn{
		padding-bottom: 50px;
	}
	.price-btn a{
		display: inline-block;
	    transition: .3s;
	    border: 2px solid;
	    letter-spacing: 1.2px;
	    font-size: 14px;
	    line-height: 25px;
	    text-decoration: none;
		padding: 12px 45px;
		font-family: $Menu-font;
	    font-weight: 400;
	    font-style: normal;
	    color: $white-color;
	    background-color: #cc6b7c;
	    border-color: transparent;
	}
	.price-btn a:hover{
		background-color: #c1a091;
	    border-color: #c1a091;
	}
	.head-desc{
		text-align: center;
		padding: 0px 20px 20px 20px;
	}
	.welcome{
		margin: 0px;
	}
}
